:root {
  --deepNoir: #000;
  --noir: #1f1c1c;
  --blanc: #e8ecf1;
  --rouge: #7d0f1f;
  --gris: #8a8e93;
  --violet: #4d4a5a;
}

@font-face {
  src: url("typo/UbuntuMono-Regular.woff2") format("woff2");
  font-family: "Ubuntu";
}
* {
  box-sizing: border-box;
  font-family: Ubuntu, Bahnschrift;
}

body {
  width: 100%;
  margin: 0px;
  background-color: var(--noir);
  min-height: 100vh;
  font-size: 1.5vw;
}

header {
  display: block;
  position: fixed;
  background-color: var(--noir);
  width: 100%;
  padding-bottom: 3%;
  padding-top: 1.5%;
  color: var(--blanc);
  z-index: 2;
  transition: height 0.3s ease;
  box-shadow: 0px 1px 20px var(--deepNoir);
  height: 20%;
}
header .headerFlexContainer {
  height: 100%;
  display: flex;
}
header .menu {
  display: block;
  width: 50%;
}
header .menu .menuFlexContainer {
  display: flex;
  justify-content: space-evenly;
}
header .menu .menuFlexContainer .projets .dropBtnProjet {
  cursor: pointer;
}
header .menu .menuFlexContainer .projets .dropContent {
  display: none;
  position: absolute;
  background-color: var(--noir);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: dropDown 0.5s ease-out;
  overflow: hidden;
}
header .menu .menuFlexContainer .projets .dropContent a {
  color: var(--blanc);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .menu .menuFlexContainer .projets .dropContent a:hover {
  color: var(--violet);
}
header .menu .menuFlexContainer .projets .dropBtnProjet:hover {
  color: var(--violet);
}
header .menu .menuFlexContainer .contact a {
  text-decoration: none;
  color: var(--blanc);
}
header .menu .menuFlexContainer .contact a:hover {
  color: var(--violet);
}
@keyframes dropDown {
  from {
    height: 0%;
  }
  to {
    height: 92%;
  }
}
header .accueilLink {
  font-size: 2vw;
  overflow: hidden;
}
header a {
  text-decoration: none;
  color: var(--blanc);
}
header .nom:hover {
  color: var(--violet);
}
header .menuHamburger {
  display: none;
  /*
  * Just a quick hamburger
  */
  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  /*
  * But let's hide the middle one.
  */
  /*
  * Ohyeah and the last one should go the other direction
  */
  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  /*
  * And let's slide it in from the left
  */
}
header .menuHamburger .menuToggle {
  display: block;
  position: relative;
  top: 20px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
header .menuHamburger .menuToggle a {
  text-decoration: none;
  color: var(--blanc);
  transition: color 0.3s ease;
}
header .menuHamburger .menuToggle a:hover {
  color: var(--violet);
}
header .menuHamburger .menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
header .menuHamburger .menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--blanc);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
header .menuHamburger .menuToggle span:first-child {
  transform-origin: 0% 0%;
}
header .menuHamburger .menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
header .menuHamburger .menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--blanc);
}
header .menuHamburger .menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
header .menuHamburger .menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
header .menuHamburger .menuToggle input:checked ~ .menuUl {
  box-shadow: 0px 1px 20px var(--deepNoir);
}
header .menuHamburger .menuUl {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--noir);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
header .menuHamburger .menuUl li {
  padding: 10px 0;
  font-size: 22px;
}
header .menuHamburger .menuToggle input:checked ~ ul {
  transform: none;
}

main {
  display: block;
  position: relative;
  top: 9vw;
  z-index: 1;
}
main .content {
  width: 100%;
  color: var(--blanc);
  background-color: var(--noir);
  display: flex;
  flex-flow: column;
}
main .content h2 {
  font-size: 3vw;
}
main .content .moi {
  display: block;
  overflow: hidden;
}
main .content .moi .degrade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(31, 28, 28, 0.5), rgb(31, 28, 28));
  z-index: 0;
}
main .content .moi .a_propos {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-image: url("img/dominic.jpg");
  background-repeat: no-repeat;
  background-position: center-25%;
  background-size: 100%;
  padding: 3% 5%;
  z-index: 5;
}
main .content .dernierProjet {
  padding: 3% 5%;
}
main .content .dernierProjet h3 {
  text-transform: uppercase;
  font-size: xx-large;
}
main .content .dernierProjet .dernierProjetTitreFlexContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
}
main .content .dernierProjet .dernierProjet--projet {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  /* opacity: 100%; */
  margin-bottom: 5%;
}
main .content .dernierProjet .dernierProjet--projet h3 {
  font-size: 3vw;
}
main .content .dernierProjet .dernierProjet--projet .embedVid {
  width: 80%;
  aspect-ratio: 16/9;
  margin: 0px;
}
main .content .dernierProjet .dernierProjet--projet .embedVid iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
main .content .dernierProjet .dernierProjet--projet .description {
  width: 80%;
}
main .content .dernierProjet .dernierProjet--projet .description a {
  color: var(--blanc);
}
main .content .dernierProjet .dernierProjet--projet .description a:hover {
  color: var(--violet);
}
main .portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3% 5%;
}
main .portfolio div {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  /* opacity: 100%; */
  margin: 5% 0;
}
main .portfolio div .embedVid {
  width: 80%;
  aspect-ratio: 16/9;
  margin: 0px;
}
main .portfolio div .embedVid iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
main .portfolio div .description {
  width: 80%;
}
main .portfolio div .description a {
  color: var(--blanc);
}
main .portfolio div .description a:hover {
  color: var(--violet);
}
main .portfolio .autoportrait {
  width: 100%;
  display: flex;
  flex-flow: column;
}
main .portfolio .autoportrait .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-bottom: 0px;
}
main .portfolio .autoportrait .content img {
  width: 100%;
  border-radius: 20px;
}
main .portfolio .sonore {
  width: 100%;
  display: flex;
}
main .portfolio .sonore .playBtn1, main .portfolio .sonore .playBtn2, main .portfolio .sonore .playBtn3 {
  width: 50vw;
  display: block;
  overflow: hidden;
}
main .portfolio .sonore .playBtn1 img, main .portfolio .sonore .playBtn2 img, main .portfolio .sonore .playBtn3 img {
  width: 100%;
}
main .portfolio .sonore .stopBtn1, main .portfolio .sonore .stopBtn2, main .portfolio .sonore .stopBtn3 {
  width: 50vw;
  display: none;
}
main .portfolio .sonore .stopBtn1 img, main .portfolio .sonore .stopBtn2 img, main .portfolio .sonore .stopBtn3 img {
  width: 100%;
}
main .contact {
  padding: 5% 5%;
  color: var(--blanc);
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10;
}
main .contact .titre {
  margin: 0px;
}
main .contact .information {
  width: 50%;
  padding: 2% 2% 5% 2%;
  color: var(--blanc);
}
main .contact .information a {
  color: var(--blanc);
}
main .contact .information a:hover {
  color: var(--violet);
}
main .contact .container {
  display: flex;
  height: 100%;
  width: 50%;
}
main .contact .container form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 2% 2% 5% 2%;
}

h2 {
  text-transform: uppercase;
}

footer {
  display: block;
  width: 100%;
  background-color: var(--noir);
  overflow: hidden;
  color: var(--blanc);
  padding-bottom: 25px;
  position: relative;
  bottom: 0px;
  z-index: 1;
  margin-top: 5%;
}
footer .content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
footer .content a {
  text-decoration: none;
  color: var(--blanc);
}
footer .content a:hover {
  color: var(--violet);
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 4vw;
  }
  header {
    display: block;
    position: fixed;
    background-color: var(--noir);
    width: 100%;
    color: var(--blanc);
    z-index: 2;
    height: 10vw;
    box-shadow: none;
  }
  header .accueilLink {
    display: none;
  }
  header .menuHamburger {
    display: block;
    background-color: rgba(0, 0, 0, 0);
  }
  header .menu {
    display: none;
  }
  main {
    top: 15vw;
    padding-bottom: 6vw;
  }
  main .contactContent .titleFlexContainer h2 {
    font-size: 7vw;
  }
  main .content .moi .a_propos div {
    display: none;
  }
  main .content .dernierProjet .dernierProjet--projet {
    text-align: left;
  }
  main .content .dernierProjet .dernierProjet--projet .description {
    width: 100%;
  }
  main .content .portfolio .description {
    width: 100%;
    text-align: left;
  }
  main .content .portfolio .autoportrait .content {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  header {
    display: block;
    position: fixed;
    background-color: var(--noir);
    width: 100%;
    color: var(--blanc);
    z-index: 2;
    height: 20vw;
    box-shadow: none;
  }
  header .accueilLink {
    display: none;
  }
  header .menuHamburger {
    display: block;
    background-color: rgba(0, 0, 0, 0);
  }
  header .menu {
    display: none;
  }
  main {
    top: 20vw;
  }
  main .content .moi {
    margin-top: 0;
  }
  main .content .moi .a_propos {
    padding: 0 0;
  }
  main .content .moi .a_propos p {
    margin: 0px;
    padding: 3% 5%;
  }
  main .content h2 {
    font-size: 7vw;
  }
  main .content h3 {
    font-size: 6vw;
  }
  main .content .portfolio {
    margin-top: 15vw;
  }
  main .content .portfolio .autoportrait .content {
    grid-template-columns: 1fr 1fr;
  }
  main .content .portfolio .sonore .playBtn, main .content .portfolio .sonore .stopBtn {
    width: 100%;
  }
  main .content .contact {
    margin-top: 15vw;
  }
  main .content .contact .information {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */