:root {
    --deepNoir: #000;
    --noir: #1f1c1c;
    --blanc: #e8ecf1;
    --rouge: #7d0f1f;
    --gris: #8a8e93;
    --violet: #4d4a5a;
}

@font-face {
    src: url("typo/UbuntuMono-Regular.woff2") format("woff2");
    font-family: "Ubuntu";
}

* {
    box-sizing: border-box;
    font-family: Ubuntu, Bahnschrift;
    //font-size: 1.5vw;
}



body {
    width: 100%;
    margin: 0px;
    background-color: var(--noir);
    min-height: 100vh;
    font-size: 1.5vw;
}

header {
    display: block;
    position: fixed;
    background-color: var(--noir);
    width: 100%;
    padding-bottom: 3%;
    padding-top: 1.5%;
    color: var(--blanc);
    z-index: 2;
    transition: height 0.3s ease;
    box-shadow: 0px 1px 20px var(--deepNoir);
    height: 20%;
    .headerFlexContainer {
        height: 100%;
        display: flex;
    }
    .menu {
        display: block;
        //position: absolute;
        width: 50%;
        .menuFlexContainer {
            display: flex;
            justify-content: space-evenly;
            .projets {
                .dropBtnProjet {
                    cursor: pointer;
                }
                .dropContent {
                    display: none;
                    position: absolute;
                    background-color: var(--noir);
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    animation: dropDown 0.5s ease-out;
                    overflow: hidden;
                }
                .dropContent a {
                    color: var(--blanc);
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    
                }
                .dropContent a:hover {
                    color: var(--violet);
                }
                .dropBtnProjet:hover {
                    color: var(--violet);
                }
            }
            .contact {
                a {
                    text-decoration: none;
                    color: var(--blanc);
                }
                a:hover {
                    color: var(--violet);
                }
            }
        }
    }

    @keyframes dropDown {
        from {
            height: 0%;
        }
        to {
            height: 92%;
        }
    }

    .accueilLink {
        font-size: 2vw;
        overflow: hidden;
    }

    a {
        text-decoration: none;
        color: var(--blanc);
    }
    .nom:hover {
        color: var(--violet);
    }
    .menuHamburger {
        display: none;

        .menuToggle {
            display: block;
            position: relative;
            top: 20px;
            left: 50px;
            
            z-index: 1;
            
            -webkit-user-select: none;
            user-select: none;
        }

        .menuToggle a {
            text-decoration: none;
            color: var(--blanc);
            
            transition: color 0.3s ease;
        }

        .menuToggle a:hover {
            color: var(--violet);
        }


        .menuToggle input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            
            cursor: pointer;
            
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            
            -webkit-touch-callout: none;
        }

        /*
        * Just a quick hamburger
        */
        .menuToggle span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            
            background: var(--blanc);
            border-radius: 3px;
            
            z-index: 1;
            
            transform-origin: 4px 0px;
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }

        .menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        .menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        /* 
        * Transform all the slices of hamburger
        * into a crossmark.
        */
        .menuToggle input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: var(--blanc);
        }

        /*
        * But let's hide the middle one.
        */
        .menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
        * Ohyeah and the last one should go the other direction
        */
        .menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        .menuToggle input:checked ~ .menuUl {
            box-shadow: 0px 1px 20px var(--deepNoir);
        }

        /*
        * Make this absolute positioned
        * at the top left of the screen
        */
        .menuUl {
            position: absolute;
            width: 300px;
            margin: -100px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            
            background: var(--noir);
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            /* to stop flickering of text in safari */
            
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

        .menuUl li {
            padding: 10px 0;
            font-size: 22px;
        }

        /*
        * And let's slide it in from the left
        */
        .menuToggle input:checked ~ ul {
            transform: none;
        }
    }
}

main {
    display: block;
    position: relative;
    top: 9vw;
    z-index: 1;
    .content {
        h2 {
            font-size: 3vw;
        }
        width: 100%;
        color: var(--blanc);
        background-color: var(--noir);
        display: flex;
        flex-flow: column;
        .moi {
            display: block;
            overflow: hidden;
            .degrade {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(rgba(31, 28, 28, 0.5), rgba(31, 28, 28, 1));
                z-index: 0;
            }
            .a_propos {
                width: 100%;
                display: flex;
                flex-flow: column;
                background-image: url("img/dominic.jpg");
                background-repeat: no-repeat;
                background-position: center - 25%;
                background-size: 100%;
                padding: 3% 5%; 
                z-index: 5;
            }
        }
        .dernierProjet {
            h3 {
                text-transform: uppercase;
                font-size: xx-large;
            }
            padding: 3% 5%;
            .dernierProjetTitreFlexContainer {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                text-align: right;
            }
            .dernierProjet--projet {
                display: flex;
                flex-flow: column;
                align-items: center;
                text-align: center;
                width: 100%;
                justify-content: center;
                /* opacity: 100%; */
                margin-bottom: 5%;
                h3 {
                    font-size: 3vw;
                }
                
                .embedVid {
                    width: 80%;
                    aspect-ratio: 16/9;
                    margin: 0px;
                    iframe {
                        width: 100%;
                        aspect-ratio: 16/9;
                    }
                }
                .description {
                    width: 80%;
                    a {
                        color: var(--blanc);
                    }
                    a:hover {
                        color: var(--violet);
                    }
                }
            }
        }
    }
    .portfolio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3% 5%;
        
        div {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;
            width: 100%;
            justify-content: center;
            /* opacity: 100%; */
            margin: 5% 0;
            
            .embedVid {
                width: 80%;
                aspect-ratio: 16/9;
                margin: 0px;
                iframe {
                    width: 100%;
                    aspect-ratio: 16/9;
                }
            }
            .description {
                width: 80%;
                a {
                    color: var(--blanc);
                }
                a:hover {
                    color: var(--violet);
                }
            }
        }
        
        .autoportrait {
            width: 100%;
            display: flex;
            flex-flow: column;
            .content {
                display: grid;
                grid-template-columns:  1fr;
                gap: 5px;
                margin-bottom: 0px;
                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    
        .sonore {
            width: 100%;
            display: flex;
            // .sonore {
            //     width: 100%;
            //     display: flex;
            //     .playBtn {
            //         display: block;
            //     }
            //     .stopBtn {
            //         display: none;
            //     }
            // }

                

            .playBtn1, .playBtn2, .playBtn3 {
                width: 50vw;
                display: block;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .stopBtn1, .stopBtn2, .stopBtn3 {
                width: 50vw;
                display: none;
                img {
                    width: 100%;
                }
            }
        }
    }


    .contact {
        padding: 5% 5%;
        color: var(--blanc);
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10;
        .titre {
            margin: 0px;
            //font-size: 3vw;
        }
        .information {
            width: 50%;
            padding: 2% 2% 5% 2%;
            color: var(--blanc);
            a {
                color: var(--blanc);
            }
            a:hover {
                color: var(--violet);
            }
        }
        
        .container {
            display: flex;
            
            height: 100%;
            width: 50%;
            
            form {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                padding: 2% 2% 5% 2%;
            }
        }
    }
    
}



h2 {
    text-transform: uppercase;
}

footer {
    display: block;
    width: 100%;
    //height: 100%;
    background-color: var(--noir);
    overflow: hidden;
    color: var(--blanc);
    padding-bottom: 25px;
    position: relative;
    bottom: 0px;
    z-index: 1;
    margin-top: 5%;
    .content {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        a {
            text-decoration: none;
            color: var(--blanc);
        }
        a:hover {
            color: var(--violet);
        }
    }
   
    // position: sticky bottom;
}





@media screen and (max-width: 1000px) {
    body {
        font-size: 4vw;
    }
    header {
        .accueilLink {
            display: none;
        }
        display: block;
        position: fixed;
        background-color: var(--noir);
        width: 100%;
        color: var(--blanc);
        z-index: 2;
        height: 10vw;
        box-shadow: none;
        .menuHamburger {
            display: block;
            background-color: rgba(0, 0, 0, 0);
        }
        .menu {
            display: none;
        }
    }
    main {
        top: 15vw;
        padding-bottom: 6vw;
        .contactContent {
            .titleFlexContainer {
                h2 {
                    font-size: 7vw; 
                }
            }
        }
        .content {
            .moi {
                .a_propos {
                    div {
                        display: none;
                    }
                }
            }
            .dernierProjet {
                .dernierProjet--projet {
                    text-align: left;
                    .description {
                        width: 100%;
                    }
                }
            }
            .portfolio {
                .description {
                    width: 100%;
                    text-align: left;
                }
                .autoportrait {
                    .content {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
    
    
}

@media screen and (max-width: 500px) {
    header {
        .accueilLink {
            display: none;
        }
        display: block;
        position: fixed;
        background-color: var(--noir);
        width: 100%;
        color: var(--blanc);
        z-index: 2;
        height: 20vw;
        box-shadow: none;
        .menuHamburger {
            display: block;
            background-color: rgba(0, 0, 0, 0);
        }
        .menu {
            display: none;
        }
    }
    main {
        top: 20vw;
        .content {
            .moi {
                margin-top: 0;
                .a_propos {
                    padding: 0 0;
                    
                    p {
                        margin: 0px;
                        padding: 3% 5%;
                    }
                }
            }
            h2 {
                font-size: 7vw;
            }
            h3 {
                font-size: 6vw;
            }
            .portfolio {
                margin-top: 15vw;
                .autoportrait {
                    .content {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                .sonore {
                    .playBtn, .stopBtn {
                        width: 100%;
                    }
                }
            } 
            .contact {
                margin-top: 15vw;
                .information {
                    width: 100%;
                }
            }
        }
        
    }
    
}